@import 'partials/variables/_medias.scss';
@import 'partials/variables/_colors.scss';
@import 'partials/_grid.scss';

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.45;
    background: $theme-color-1;
    color: $theme-color-3;
    transition: all .3s;
}

nav {
    padding: 3.5em 0;

    &.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        padding: 1em 0 0 0;
        background: $theme-color-0;
        box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .05)
    }

    .logo {
        letter-spacing: -.05em;
        float: left;
        font-size: 1.5em;
        font-weight: 700;
    }

    .right-nav {
        float: right;
        margin: 3px 0 0 0;

        #switch-theme,
        .search {
            float: left;

            i {
                margin: 0 0 0 5px;
                cursor: pointer;
                font-size: 1.25em;
            }
        }

        .search i {
            position: relative;
            z-index: 4;

            &.uil-multiply {
                color: #08132E;
            }
        }
    }
}



input#search {
    width: 0;
    max-width: 800px;
    padding: 1.5em 0;
    margin: 0 auto;
    border: none;
    background: white;
    border-radius: 15em;
    position: absolute;
    top: 0em;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .05);
    transition: all .4s ease-in-out;
    outline: none;
    color: #08132E;
    font-weight: 600;

    &.active {
        width: 90%;
        padding: 1.5em;

        &.scroll {

            padding: 1em 1.5em;
        }
    }

    &.scroll {
        top: .5em;

    }

}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.intro {
    padding: 15vh 0;
}

ul.cards {
    li {
        margin-top: 10em;
    }
}

.card {
    background: $theme-color-0;
    padding: 0 2em 2em 2em;
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        box-shadow: 0px 25px 30px -15px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
    }

    &__content {
        margin: .5em 0 0;
    }

    &__img {
        transform: translateY(-2em);
    }

    &__title {
        line-height: 1.2;
        font-size: 2em;
        font-weight: bold;
    }

    &__description {
        margin: 1em 0 5em 0;
        color: $theme-color-2;
    }

    &__btn {
        display: table;
        padding: .75em 1.75em;
        background: $theme-color-3;
        color: $theme-color-0;
        border-radius: 3em;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, .75);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover {
            box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, .5);
            transform: translateY(-2px);
        }
    }
}

.ishadow {
    img {
        position: relative;
        z-index: 2;
        border-radius: 8px;
    }
}

.image-shadow {
    z-index: 1 !important;
}

footer {
    margin: 5em 0 0 0;
    text-align: center;
    font-size: .75em;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    :root[dark] {
        nav {
            &.active {
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
                background-color: rgba(8, 19, 46, .3);
            }
        }
    }

    nav {
        &.active {
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, .7);
        }
    }
}

@media screen and (max-width: $small-screen-up) {}

section:nth-child(even) {
	background-color: #F5F8F9;
}

.section-title {
	font-size: 26px;
	line-height: 1;
	margin-bottom: 20px;
    position: relative;
    color: #000;
}
.section-title:after{
	content: "";
	width: 35px;
	height: 3px;
	background-color: green;
	position: absolute;
	bottom: -5px;
    left: 0;
}

.summary {
    padding: 45px;
    color: #555;
}

.skills {
    padding: 45px;
}

.banner {
	min-height: 60vh;
	display: flex;
	align-items: center;
}

.banner .container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 300px;
	padding: 0 20px;
}
.banner-img {
	justify-self: center;
	align-self: center;
	padding: 40px;
}

.profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
    background-color: #ccc;
    content: url(https://scontent.fskp1-1.fna.fbcdn.net/v/t1.0-9/107103280_3171620489551086_7460550998060310029_n.png?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=obgdaiwvCgAAX8iBuT-&_nc_ht=scontent.fskp1-1.fna&oh=117fab5e7bd1caa0c2e82d2d410cc836&oe=5F923DA6);
}


.hello {
	background-color: green;
	display: inline-block;
	padding: 5px 15px;
	line-height: 1;
	border-radius: 15px;
	color: #fff;
}

.banner-info .name{
	font-family: serif;
	font-weight: 600;
	line-height: 1;
	margin: 10px 0 20px;
	font-size: 56px;
}

.banner-info .title {
	font-size: 22px;
	margin-bottom: 20px;
}

.banner-info .top-skills {
	list-style: none;
	padding:0;
	max-width: 400px;
}
.banner-info .top-skills .top-skill {
	display: inline-block;
	padding: 5px 15px;
	background-color: #fff;
	border-radius: 15px;
	margin: 0 5px 10px 0;
	color: #555;
}

.resume .container {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-gap: 20px;
}

aside, main{
	background-color: #fff;
	border-radius: 20px;
}
aside {
	padding: 20px;
}

.skill-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.skill-list .skill {
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 15px;
	display: grid;
	grid-template-columns: auto 1fr;
    grid-gap: 20px;
    width: 350px
}


.skill-list .skill-title{
    font-size: 20px;
    color: #000;
}
.skill-list .skill-desc {
	margin-bottom: 0;
	color: #555;
}

@media screen and (max-width: 808px) {	
	aside{
		display: none;
	}
	.resume .container {
		grid-template-columns: 1fr;
		min-width: 96%;
	}
}

@media screen and (max-width: 768px) {

	.skill-list {
		grid-template-columns: 1fr;
	}
	
}

.cardstitle {
    font-size: 26px;
	line-height: 1;
    position: relative;
    padding-top: 70px;
    padding-left: 45px;
}

.cardstitle:after{
	content: "";
	width: 35px;
	height: 3px;
	background-color: green;
	position: absolute;
	bottom: -5px;
    left: 45px;
}

@media screen and (max-width: 808px) {	
.banner .container {
    display: block;
}}

.row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-top: 100px;
}