<div class="banner">
		<div class="container">
			<div class="banner-info">
				<span class="hello">Hello, I am</span>
				<h1 class="name">Stefan Trajkov</h1>
				<h2 class="title">Front End Developer</h2>
				<ul class="top-skills">
					<li class="top-skill">Web Design</li>
					<li class="top-skill">SEO</li>
					<li class="top-skill">PPC/SEM</li>
					<li class="top-skill">WordPress</li>
					<li class="top-skill">Email Marketing</li>
					<li class="top-skill">Content Writing</li>
				</ul> <!-- / .skills -->
			</div> <!-- / .banner info -->
			<div class="banner-img">
				<div class="profile-pic"></div>
			</div>
		</div> <!-- / .container-->
	</div> <!-- / .banner -->
	
	<div class="resume">
			<main>
				<section class="summary">
					<h2 class="section-title">About</h2>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aliquam, in deserunt corrupti facere dolorem eum fugiat consequatur sint sequi, hic nihil minus voluptatum repudiandae architecto iusto mollitia recusandae.
				</section>
				<section class="skills">
					<h2 class="section-title">Skills</h2>
					<ul class="skill-list">

					</ul> <!-- / .skill-list -->
				</section>
			</main>
	</div> <!-- / .resume-->