<div class="banner">
		<div class="container">
			<div class="banner-info">
				<span class="hello">Hello, We are</span>
				<h1 class="name">Hunter&Bard</h1>
				<h2 class="title">Creative Agency</h2>
				<ul class="top-skills">
					<li class="top-skill">Web Design</li>
					<li class="top-skill">SEO</li>
					<li class="top-skill">PPC/SEM</li>
					<li class="top-skill">WordPress</li>
					<li class="top-skill">Email Marketing</li>
					<li class="top-skill">Content Writing</li>
				</ul> <!-- / .skills -->
			</div> <!-- / .banner info -->
			<div class="banner-img">
				<div class="profile-pic"></div>
			</div>
		</div> <!-- / .container-->
</div> <!-- / .banner -->